

button {
	outline: 0;
	cursor: pointer;
}

/*---- List items ----*/





  /*---- Shopping Cart ----*/

.shop-cart {
	border-top: 1px solid #e3e3e3;
	text-align: center;
}

.shop-cart-list {
  margin-bottom: 0;
	padding: 0;
}

.cart-total {
	font-size: 40px;
  margin: 23px;
}

.cart-total-num {
	font-size: 23px;
  margin: 12px;
}

.cart-item, .cart-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 23px;

    border-bottom: 1px solid #e3e3e3;
}
.cart-promo {
  margin-bottom: 16px;
}


.cart-item-name, .cart-item-promo {
	margin: 0 29px;
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 18px;
}

.cart-item-quantity {
  width: 56px;
  height: 56px;
	
  outline: 0;

  font-size: 29px;
  font-weight: 300;
  text-align: center;
  color: #2e2e2e;
}

.cart-item-promocode{
    height: 40px;
    width: 200px;
    padding: 0 9px;

    outline: 0;
    
    font-size: 18px;
    font-weight: 300;
    color: #2e2e2e;
}

.cart-item-price {
	margin: 0 12px;
}
.cart-item-remove {
	  border: 0;

    background: #fff;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.cart-item-remove:hover {
	color: #000;
}

.cart-item img {
  height: 120px;
  width: 120px;
}

#keep-shopping, #display-cart ,#checkout {
    padding: 12px 40px;
    border: 2px solid #e3e3e3;
    border-radius: 20px;

    background: #fff;
    
    font-size: 15px;
    text-transform: uppercase;
}

#checkout {
	background: #FF6C6C;
	color: #fff;
}

#checkout:hover {
	background: #B33B3B;
}

#checkout:active {
	background: #751919;
}

#keepShopping:hover, #display-cart:hover {
	background: #e3e3e3;
}

#keepShopping:active, #display-cart:active {
	background: #c3c3c3;
}

#display-cart{
  display: block;
  margin: 30px auto;
}

/*--- functional classes ----*/
.hide {
  display: none !important;
}

